# OpenAI entry point configuration.
OPENAI_API_KEY=
#OPENAI_BASE_URL=https://api.openai.com/v1  # Optional, if a custom one is used.

# Embedding defaults, uncomment and configure to suit your own models.
#EMBEDDING_MODEL=nomic-embed-text
#EMBEDDING_DIMENSIONS=768
#EMBEDDING_CHUNK_SIZE=128 # Note that this number of utterances need to fit within the embeddings model context.

# Router file specification and default threshold. Uncomment with your preferences.
#ROUTER_YAML_FILE=router_example.yaml
#DEFAULT_THRESHOLD=0.5
